
<div class="container">

    <!-- required, minlen, maxlen, pattern -->
    <div *ngIf="failed" class="alert alert-danger">Failed to save please try again</div>
    <div *ngIf="success" class="alert alert-success">Successfuly saved</div>
<h1>Products </h1>

<form [formGroup]="frm">
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" placeholder="Brand" formControlName="brand" class="form-control" />
                <span *ngIf="frm.controls.brand.dirty && frm.controls.brand.invalid" class="text-danger">Required</span>  
            </div>
            <div class="form-group">
                <input type="text" placeholder="Model" formControlName="model" class="form-control" />
                <span *ngIf="frm.controls.model.dirty && frm.controls.model.errors?.required" class="text-danger">Required</span>
                <span *ngIf="frm.controls.model.dirty && frm.controls.model.errors?.minlength" class="text-danger">Min 3 char</span>
                <span *ngIf="frm.controls.model.dirty && frm.controls.model.errors?.maxlength" class="text-danger">Max 10 char</span>    
            </div>
            <div class="form-group">
                <input type="text" placeholder="Price" formControlName="price" class="form-control" />
                <span *ngIf="frm.controls.price.errors?.pattern" class="text-danger">Invalid Price</span>    
            </div>
            <div class="form-group">
                InStock:
                <input type="checkbox" formControlName="inStock" />
            </div>
            <div class="form-group">
                <button [disabled]="frm.invalid" (click)="onSave()" class="btn btn-success">Save Product</button>
            </div>
        </div>
</form>

<div class="col-md-7">
    <div *ngFor = "let prd of products" class="well">
        <app-product [product]="prd"> </app-product>
    </div>
</div>

</div>
<!-- Pipes Uppercase, Lowercase, Titlecase, Currency, Date, Json, Async -->